.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
.center2 {
  justify-content: center;
}


.center{
  justify-content: center;
  flex: inline;
}

.box{
  height: 300px;
  width: 900px;

}

.left{
    display: flex;
    justify-content: flex-start;
}

.mBox{
  height: 100px;
  width: 800px;
}

  .textw {
    display: inline;
    text-align: left;
   word-wrap: break-word;
   width: 1200px;

}
.wb{
  word-break: break-word;
  }

 .sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

  

